<form method="post" hx-post="{% if author %}{% url 'author_update' author.id %}{% else %}{% url 'author_create' %}{% endif %}" hx-target="#modal" hx-swap="innerHTML">
    {% csrf_token %}
    <div class="mb-3">
        {{ form.first_name.label_tag }} {{ form.first_name }}
    </div>
    <div class="mb-3">
        {{ form.last_name.label_tag }} {{ form.last_name }}
    </div>
    <div class="d-flex justify-content-end">
        <button type="submit" class="btn btn-success me-2">Save</button>
        <button type="button" class="btn btn-secondary" onclick="location.reload()">Cancel</button>
    </div>
    <script>
        document.body.addEventListener('refreshPage', function () {
            location.reload();  // Refresh the entire page
        });
    </script>
</form>
